    h1{
        color:forestgreen;
        text-align:center;
        font-size:60px;
    }
    h2{
        color:coral;
        text-align:center;
        font-size:40px;
    }
    form{
        text-align:center;
    }
    input{
        width:400px;
        height:40px;
        font-size:20px;
    }
    a{
        width:150px;
        height:50px;

        color:white;
        background-color:green;
        text-align:center;
        font-size:30px;
        text-decoration:none;
    }
    #pw1{
        margin-right:45px;
    }
    #pw2{
        margin-right:95px;
    }
    #name{
        margin-right:30px;
    }
    #nick1{
        margin-right:30px;
    }
    #birth{
        margin-right:100px;
    }
