    h1{
        text-align:center;
        font-size:80px;
        color:green;
    }
    h2{
        text-align:center;
        font-size:40px;
        color:cornflowerblue;
    }
    form{
          text-align:center;
    }
    .button{
        width:500px;
        height:60px;
        font-size:25px;
        background-color:cyan;
        border:3px solid skyblue;
    }
    .button>a{
        display:block;
        line-height:50px;
        position:center;
    }
    a{
      text-decoration: none;
    }
