        body{

        }
        #big>a{
            text-align:left;
            color: green;
            font-size: 1.5em;
        }
        #search{
          float: right;
         }
        #video{
          float: right;

        }

        a{
            text-decoration: none;
          }

 